body{
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background: #1a1a1a;
    color: #fff;
}

span{
    color: chartreuse;
}
nav{
    z-index: 99;
    position: relative;
}

.content h4{
    color: #fff;
    font-size: 18px;
    font-weight: 50;
    font-style: italic;
}
header h1{
    font-size: 40px;
}

h1, p, a, small{
    color: #fff;
}

a{
    transition: 0.4s;
}

a:hover{
    color: #ccc;
    text-decoration: none;
}

p{
    font-size: 14.4px;
    color: #ccc;
}

nav a, footer a{
    text-decoration: none;
}
nav h2{
    margin: 20px;
    padding: 20px;
    font-size: 28px;
}

nav .container{
    max-width: 1150px;
    padding: 16px;
    margin: 0 auto;
}

nav .container > div{
    display: flex;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    margin-top: -98px;
    margin-left: 150px;
    justify-content: space-between;
}

nav .menu, nav .social-media, nav .brand{
    display: flex;
    align-items: center;
}

nav ul, footer ul{
    list-style-type: none;
    padding: 0;
    display: inline block;
}

nav ul li, footer ul li{
    display: inline-block;
    margin: 0 0.5em;
}

nav ul a, footer ul a{
    font-size: 16px;
}

.nav-btn{
    background: rgba(red, green, blue, alpha);
    color: #fff;
    width: 2.8em;
    height: 2.8em;
    border-radius: 50%;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    font-size: 1em;
}

.nav-btn:hover{
    background: rgba(red, green, blue, alpha);
}

nav .container .menu-btn{
    display: none;
}

.social-media a{
    font-size: 1em;
}

header .content, .footer-top{
    display: flex;
    justify-content: center;
    align-items: center;
}

header .content{
    color: #fff;
    padding: 20px;
    box-sizing: border-box;
    height: 10%;
    max-width: 700px;
    margin: 20px;
}

footer{
    background: #1a1a1a;
    color: #ccc;
    text-align: center;
    padding: 80px;
}

.content p{
    padding-bottom: 50px;
}

/* Style the table itself */
table {
    width: 100%;
    border-collapse: collapse;  /* Collapse borders */
    height: 40%;
    width: 50%;
    margin: 40px;
}
/* Style the table headers */
th {
    background-color: #f2f2f2;  /* Light grey background */
    color: black;  /* Black text color */
    text-align: left;  /* Left-aligned text */
    padding: 8px;  /* Padding around text */
}

/* Style the table data cells */
td {
    border: 1px solid #ddd;  /* Light grey border */
    padding: 8px;  /* Padding around text */
}

/* Add a hover effect to table rows */
tr:hover {background-color: #ccc;}  
